.container {
    width: 80%;
    max-width: 800px;
    min-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

.person-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.person {
    width: 20%;
    max-width: 200px;
    min-width: 150px;
    height: 200px;
    color: transparent;
    font-size: 25px;
    background-image: url('pictures/Question-Mark.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .person {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
    }
}